.hero {
  background-size: cover;
  position: relative;
  min-height:400px;
  background: url('/assets/images/homepage/peakboard_templates_background.jpg') repeat-x center;
}

.carousel {
  border: 1.5px solid #c4c8d8;
  margin-right: 0.6rem;
}

.carousel-text {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel-button {
  background: #ffffff;
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  text-decoration:none;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #c4c8d8;

  &--active {
    background: #c4c8d8;
  }

  &:focus {
    outline:none !important
  }
}

.action-link {
  text-decoration: none;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;

  span {
    padding-bottom: 2px;
    color: #000;
    font-weight: 700;
    border-bottom: 2px solid #f29205;

    &.black {
      color: black;
    }

    &:hover,
    &:focus {
      color: #f29205;
      transition: all .3s;

      i {
        border-color: #f29205;
      }
    }
  }

  &:hover,
  &:focus {
    color: #f29205;
    border-bottom: 0;
  }

  i {
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 3px;
    margin-bottom: 2px;

    &.black {
      border: solid black;
      border-width: 0 2px 2px 0;
    }
  }

  .right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .down-arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.card-highlight {
  &:hover {
    border: #f29205 2px solid;
  }
}

.search-form-homepage {
  width:500px;
  margin:0 auto;
}
.search-bar {
  color: black;
  width: 100%;
  padding: 10px 15px 10px 40px;
  margin: 3px;
  background: url('/assets/search/search-24.svg') no-repeat 8px 8px;

  &:focus {
    outline: none;
  }
}
.search-bar-rounded {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.search-container {
  width: 100%;
  height: 50px;
}
.search-container input[type=text] {
  background-color: #fcfcfc;
}

.dark-background {
  background: #f1f0f0;
}

.bricks {
  margin-right:auto;
  padding:0 0 4px 4px;
  overflow:hidden;
  max-width:1000px;
}

/* animation */
.bricks-ready {
  -webkit-transition:width .7s ease;
  -moz-transition:width .7s ease;
  -ms-transition:width .7s ease;
  -o-transition:width .7s ease;
  transition:width .7s ease;
}
.brick-ready {
  -webkit-transition:top .7s ease,left .7s ease;
  -moz-transition:top .7s ease,left .7s ease;
  -ms-transition:top .7s ease,left .7s ease;
  -o-transition:top .7s ease,left .7s ease;
  transition:top .7s ease,left .7s ease;
}
