<section class="article-content content-center">
    <div class="cta" style=" {% if cta-setting-dark-background == 'true' %}background: #f1f0f0;{% else %}background: #ffffff;{% endif %}">
        <div class="pt-4 pb-16 mx-auto max-w-md">
            <h3 class="text-center">{{ cta-title }}</h3>
            <h1 class="text-center">{{ cta-subtitle }}</h1>
            <p class="text-center">{{ cta-content }}</p>
            {% if cta-image %}<img src="{{ cta-image }}" alt="{{ cta-title }}" class="lightbox-ignore">{% endif %}
            <a href="{{ cta-link }}" class="action-link block mt-8"><span>{{ cta-link-text }} <i class="right-arrow"></i></span></a>
        </div>
    </div>
</section>
