{% for lang in site.language %}
    {% if lang contains page.lang %}
        {% for text in lang %}
            {% if text != page.lang %}
            <footer class="p-12 page-header-bg mt-16">
                <div class="flex flex-col md:flex-row border-b border-grey-light pb-12 mb-12">
                    <div class="mr-16 flex items-center">
                        <img src="/assets/logos/logo.svg" width="200" alt="Logo for Peakboard">
                    </div>
                        <div class="mr-12 mt-12 md:mt-0">
                            <h4 class="mb-4 font-light border-b border-grey-light text-3xl text-white">{{ text.footer-github }}</h4>
                            <p class="mb-3 font-bold text-white">
                                    {% if page.layout == 'home' %}
                                        <a href="https://github.com/Peakboard/peakboard-templates.github.io/tree/master/_templates" class="text-white no-underline hover:underline font-light" target="_blank">{{ text.footer-github-text }}</a>
                                    {% else %}
                                        <a href="{% include github-link.html %}" class="text-white no-underline hover:underline font-light" target="_blank">{{ text.footer-github-text }}</a>
                                    {% endif %}
                            </p>
                        </div>
                    <div class="mr-12 mt-12 md:mt-0">
                        <h4 class="mb-4 font-light border-b border-grey-light text-3xl text-white">{{ text.footer-support }}</h4>
                        <p class="mb-3 font-bold text-white">{{ text.footer-support-tel }}
                            <a href="tel:004971146059961" class="text-white no-underline hover:underline font-light">+49 711 46 05 99 - 61</a>
                        </p>
                        <p class="mb-3 font-bold text-white">{{ text.footer-support-email }}
                            <a href="mailto:support@peakboard.com" class="text-white no-underline hover:underline font-light">support@peakboard.com</a>
                        </p>
                    </div>
                    <div class="mr-12 mt-12 md:mt-0">
                        <h4 class="mb-4 font-light border-b border-grey-light text-3xl text-white">{{ text.footer-contact }}</h4>
                        <p class="mb-3 font-bold text-white">{{ text.footer-contact-email }}
                            <a href="mailto:info@peakboard.com" class="text-white no-underline hover:underline font-light">info@peakboard.com</a>
                        </p>
                        <p class="mb-3 font-bold text-white">{{ text.footer-contact-website }}
                            <a href="https://www.peakboard.com/?utm_source=templates_overview&utm_medium=website_link_footer&utm_campaign=templates" class="text-white no-underline hover:underline font-light" target="_blank">www.peakboard.com</a>
                        </p>
                    </div>
                </div>
                <div>
                    <p class="text-white">&copy; {{ site.time | date: "%Y" }}. {{ text.footer-copyright }} <a class="text-white no-underline hover:underline font-light" href="{{ text.footer-legal-url }}">{{ text.footer-legal }}</a> <a class="text-white no-underline hover:underline font-light" href="/{{ page.lang }}/privacy">{{ text.footer-privacy }}</a></p>
                </div>
            </footer>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
