{% if page.isDraft %}<meta name="robots" content="noindex" />{% endif %}
{% if page.noindex %}<meta name='robots' content='noindex,nofollow' />{% endif %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="theme-color" content="#ffa500"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.find,Array.prototype.includes"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/algolia-min.css" integrity="sha256-HB49n/BZjuqiCtQQf49OdZn63XuKFaxcIHWf0HNKte8=" crossorigin="anonymous">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel="manifest" href="/manifest.json">
<link href="{{ '/assets/lity.min.css' | relative_url }}?{{ site.time | date: '%s%N' }}" rel="stylesheet">
<link href="{{ '/assets/app.css' | relative_url }}?{{ site.time | date: '%s%N' }}" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />

<!-- Twitter cards -->
<meta name="twitter:title" content="{{ page.title }}">

{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}/{{ page.ref }}/{{ page.image }}">
<meta property="og:image" content="{{ site.url }}/{{ page.ref }}/{{ page.image }}">
{% endif %}

<script>
    var _mtm = window._mtm = window._mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});

    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src='https://matomo.peakboard.com/js/container_{{ site.mtm }}.js'; s.parentNode.insertBefore(g,s);
</script>

{% seo title=false %}

{% include cookie_alert.html %}
