<script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.7.0/intersection-observer.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.2.0/dist/lazyload.min.js"></script>
<script>
    var lazyLoadInstance = new LazyLoad({});

    document.addEventListener('searchCompleted', function() {
        var lazyLoadTimerId = setInterval(function () {
            if (lazyLoadInstance) {
                lazyLoadInstance.update();
            }
        }, 1000);
    });
</script>
