<div class="flex h-24 page-header">
    {% capture home_link %}{% if page.lang == 'en' %}/en/{% elsif page.lang == 'cn' %}/en/{% else %}/{% endif %}{% endcapture %}
    <div class="w-32 md:w-48 flex justify-center items-center page-header-bg z-50">
        <a class="no-underline w-full text-center max-w-xxs hover:opacity-75 focus:opacity-75" href="{{ home_link }}">
            <img src="/assets/logos/logo.svg" class="w-4/5" alt="Peakboard Logo">
        </a>
    </div>
    <div class="flex-auto h-24">
        <div class="flex items-center justify-end page-header-bg text-white h-24">
            {% include {{include.lang_selector}}_lang_selector.html %} {% include menu_cta_button.html %}
        </div>
    </div>
</div>
