
<div class="flex">
    <div class="w-1/3 h-full">
        {% if page.lang == 'cn' %}
        {% capture link %}https://v.qq.com/txp/iframe/player.html?vid={{include.video_id}}{% endcapture %}
        {% else %}
        {% capture link %}//www.youtube.com/embed/{{include.video_id}}?autoplay=1&rel=0{% endcapture %}
        {% endif %}

        <a class="no-underline video-thumbnail" href="{{ link }}" data-lity style="border-bottom: 0 !important;">
            <img class="w-full lightbox-ignore" style="margin:0;" src="{{ include.image }}" alt="Video content">
        </a>
    </div>
</div>
