---
layout: base
---

{% include page_header.html lang_selector="article" %}
{% assign collection = site.collections | where: "label", page.collection | first %}
{% assign darkBackground = 'true' %}

<section class="article-content max-w-xl px-4 mx-auto py-8">
    <a class="font-medium" href="{{ site.url }}{% if page.lang == 'en' %}/en/{% endif %}{% if page.lang == 'cn' %}/cn/{% endif %}">{{ site.language[page.lang].page-top-overview-text }}</a>
    <h1>{{ page.title }}</h1>
    <p class="text-grey mb-4">
        {% for category in page.category %}
        <a href="{{ site.url }}{% if page.lang == 'en' %}/en/{% endif %}{% if page.lang == 'cn' %}/cn/{% endif %}?menu%5Bcategory%5D={{ category }}&fromArticle=true" style="color: #b8c2cc;">{{ category | upcase }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
    </p>

    <p>{{ page.description }}</p>

    {% if page.image %}
    <div class="border-2 border-gray-400 my-4 p-1">
        <img src="{{ page.image }}" alt="Template: {{ page.title }}" style="margin: 0;">
    </div>
    {% endif %}

    {% if page.download %}
    <button class="py-3 px-4 menu-cta-button text-xl tracking-base">
        <a class="no-underline" href="{{ page.download }}">{{ site.language[page.lang].article-download-button-text }}</a>
    </button>
    {% endif %}

</section>

{% if page.overview_description or page.overview_benefits or page.overview_data_sources %}

<div class="article-overview {% if darkBackground == 'true' %}dark-background{% endif %}">
    <div class="py-8 max-w-xl px-4 mx-auto py-6">
        <h2 style="color: rgba(0, 0, 0, .84);">Overview</h2>

        <div class="flex flex-wrap my-4">
            {% if page.overview_description %}
            <div class="w-full lg:w-1/3 xl:w-1/3 overflow-hidden mb-4 lg:mb-0 xl:mb-0 pr-2">
                <div class="px-4 py-4 bg-white h-full">
                    <p class="text-grey-darker uppercase font-bold pb-4">Description</p>
                    <ul class="m-0 pl-0 ml-4">
                    {% for item in page.overview_description %}
                        <li><span>{{ item }}</span></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if page.overview_benefits %}
            <div class="w-full lg:w-1/3 xl:w-1/3 overflow-hidden mb-4 lg:mb-0 xl:mb-0 pr-2">
                <div class="px-4 py-4 bg-white h-full">
                    <p class="text-grey-darker uppercase font-bold pb-4">Benefits</p>
                    <ul class="m-0 pl-0 ml-4">
                        {% for item in page.overview_benefits %}
                        <li><span>{{ item }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if page.overview_data_sources %}
            <div class="w-full lg:w-1/3 xl:w-1/3 overflow-hidden mb-4 lg:mb-0 xl:mb-0 lg:pr-0 xl:pr-0 pr-2">
                <div class="px-4 py-4 bg-white h-full">
                    <p class="text-grey-darker uppercase font-bold  pb-4">Data Sources</p>
                    <ul class="m-0 pl-0 ml-4">
                        {% for item in page.overview_data_sources %}
                        <li><span>{{ item }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% capture darkBackground %}{% if darkBackground == 'true' %}false{% else %}true{% endif %}{% endcapture %}
{% endif %}

{% assign content = page.content | strip_newlines %}
{% if content and content != '' %}
<section class="article-content content-center {% if darkBackground == 'true' %}dark-background{% endif %}">
    <div class="max-w-xl px-4 mx-auto py-8 ">
        {{ content }}
    </div>
</section>
{% capture darkBackground %}{% if darkBackground == 'true' %}false{% else %}true{% endif %}{% endcapture %}
{% endif %}

{% if page.related %}
<div class="article-overview {% if darkBackground == 'true' %}dark-background{% endif %}">
    <div class="py-8 max-w-xl px-4 mx-auto pt-6">
        <h2 style="color: rgba(0, 0, 0, .84);">Related Templates</h2>

        <div class="flex flex-wrap my-4">

            {% assign maxRelated = 3 %}
            {% assign minCommonCategories = 5 %}
            {% assign maxRelatedCounter = 0 %}
            {% assign existingRelated = "" %}
            {% assign templatesSorted = site.templates | sort: "weight" %}

            {% for singleTemplate in templatesSorted %}

                {% assign sameCategoryCount = 0 %}
                {% assign commonCategories = '' %}

                {% for category in singleTemplate.category %}
                    {% if singleTemplate.url != page.url %}
                        {% if page.category contains category %}
                            {% if singleTemplate.isDraft != true and singleTemplate.lang == page.lang %}
                                {% assign sameCategoryCount = sameCategoryCount | plus: 1 %}
                                {% capture categorymarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
                                {% assign commonCategories = commonCategories | append: categorymarkup | append:", " %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if sameCategoryCount >= minCommonCategories %}
                    {% assign arrayExistingRelated = existingRelated | split: "|" %}
                    {% assign existingRelatedTitleCheck = singleTemplate.title | remove: " " %}
                    {% unless arrayExistingRelated contains existingRelatedTitleCheck %}
                        {% assign imageUrlPath = singleTemplate.url | split: '/' %}
                        <div class="w-full lg:w-1/3 xl:w-1/3 overflow-hidden mb-4 lg:mb-0 xl:mb-0 pr-2">
                            <div class="px-4 py-4 bg-white h-full border-2 rounded border-gray-400 hover:border-orange">
                                <a class="no-underline" href="{{ site.baseurl }}{{ singleTemplate.url }}" data-lity>
                                    <img class="w-full lightbox-ignore" src="{{ site.baseurl }}/{{ imageUrlPath[1] }}/{{ singleTemplate.image }}" alt="{{ singleTemplate.title }}">
                                </a>
                                <a class="no-underline text-black" href="{{ site.baseurl }}{{ singleTemplate.url }}" data-lity>
                                    <div class="text-black mb-2">{{ singleTemplate.title | escape }}</div>
                                </a>
                            </div>
                        </div>

                        {% assign existingRelated = existingRelated | append:singleTemplate.title | remove: " " | append:"|" %}
                        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                        {% if maxRelatedCounter >= maxRelated %}
                            {% break %}
                        {% endif %}
                    {% endunless %}
                {% endif %}

            {% endfor %}

            {% assign minCommonCategories = 4 %}
            {% if maxRelatedCounter < maxRelated %}
                {% for singleTemplate in templatesSorted %}

                    {% assign sameCategoryCount = 0 %}
                    {% assign commonCategories = '' %}

                    {% for category in singleTemplate.category %}
                        {% if singleTemplate.url != page.url %}
                            {% if page.category contains category %}
                                {% if singleTemplate.isDraft != true and singleTemplate.lang == page.lang %}
                                    {% assign sameCategoryCount = sameCategoryCount | plus: 1 %}
                                    {% capture categorymarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
                                    {% assign commonCategories = commonCategories | append: categorymarkup | append:", " %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if sameCategoryCount >= minCommonCategories %}
                        {% if maxRelatedCounter >= maxRelated %}
                            {% break %}
                        {% endif %}
                        {% assign arrayExistingRelated = existingRelated | split: "|" %}
                        {% assign existingRelatedTitleCheck = singleTemplate.title | remove: " " %}
                        {% unless arrayExistingRelated contains existingRelatedTitleCheck %}
                            {% assign imageUrlPath = singleTemplate.url | split: '/' %}
                            <div class="w-full lg:w-1/3 xl:w-1/3 overflow-hidden mb-4 lg:mb-0 xl:mb-0 pr-2">
                                <div class="px-4 py-4 bg-white h-full border-2 rounded border-gray-400 hover:border-orange">
                                    <a class="no-underline" href="{{ site.baseurl }}{{ singleTemplate.url }}" data-lity>
                                        <img class="w-full lightbox-ignore" src="{{ site.baseurl }}/{{ imageUrlPath[1] }}/{{ singleTemplate.image }}" alt="{{ singleTemplate.title }}">
                                    </a>
                                    <a class="no-underline text-black" href="{{ site.baseurl }}{{ singleTemplate.url }}" data-lity>
                                        <div class="text-black mb-2">{{ singleTemplate.title | escape }}</div>
                                    </a>
                                </div>
                            </div>
                            {% assign existingRelated = existingRelated | append:singleTemplate.title | remove: " " | append:"|" %}
                            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                            {% if maxRelatedCounter >= maxRelated %}
                                {% break %}
                            {% endif %}
                        {% endunless %}
                    {% endif %}

                {% endfor %}
            {% endif %}

            {% assign minCommonCategories = 3 %}
            {% if maxRelatedCounter < maxRelated %}
                {% for singleTemplate in templatesSorted %}

                    {% assign sameCategoryCount = 0 %}
                    {% assign commonCategories = '' %}

                    {% for category in singleTemplate.category %}
                        {% if singleTemplate.url != page.url %}
                            {% if page.category contains category %}
                                {% if singleTemplate.isDraft != true and singleTemplate.lang == page.lang %}
                                    {% assign sameCategoryCount = sameCategoryCount | plus: 1 %}
                                    {% capture categorymarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
                                    {% assign commonCategories = commonCategories | append: categorymarkup | append:", " %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if sameCategoryCount >= minCommonCategories %}
                        {% if maxRelatedCounter >= maxRelated %}
                            {% break %}
                        {% endif %}
                        {% assign arrayExistingRelated = existingRelated | split: "|" %}
                        {% assign existingRelatedTitleCheck = singleTemplate.title | remove: " " %}
                        {% unless arrayExistingRelated contains existingRelatedTitleCheck %}
                            {% assign imageUrlPath = singleTemplate.url | split: '/' %}
                            <div class="w-full lg:w-1/3 xl:w-1/3 overflow-hidden mb-4 lg:mb-0 xl:mb-0 pr-2">
                                <div class="px-4 py-4 bg-white h-full border-2 rounded border-gray-400 hover:border-orange">
                                    <a class="no-underline" href="{{ site.baseurl }}{{ singleTemplate.url }}" data-lity>
                                        <img class="w-full lightbox-ignore" src="{{ site.baseurl }}/{{ imageUrlPath[1] }}/{{ singleTemplate.image }}" alt="{{ singleTemplate.title }}">
                                    </a>
                                    <a class="no-underline text-black" href="{{ site.baseurl }}{{ singleTemplate.url }}" data-lity>
                                        <div class="text-black mb-2">{{ singleTemplate.title | escape }}</div>
                                    </a>
                                </div>
                            </div>
                            {% assign existingRelated = existingRelated | append:singleTemplate.title | remove: " " | append:"|" %}
                            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                            {% if maxRelatedCounter >= maxRelated %}
                                {% break %}
                            {% endif %}
                        {% endunless %}
                    {% endif %}

                {% endfor %}
            {% endif %}

            {% assign minCommonCategories = 2 %}
            {% if maxRelatedCounter < maxRelated %}
                {% for singleTemplate in templatesSorted %}

                    {% assign sameCategoryCount = 0 %}
                    {% assign commonCategories = '' %}

                    {% for category in singleTemplate.category %}
                        {% if singleTemplate.url != page.url %}
                            {% if page.category contains category %}
                                {% if singleTemplate.isDraft != true and singleTemplate.lang == page.lang %}
                                    {% assign sameCategoryCount = sameCategoryCount | plus: 1 %}
                                    {% capture categorymarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
                                    {% assign commonCategories = commonCategories | append: categorymarkup | append:", " %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if sameCategoryCount >= minCommonCategories %}
                        {% if maxRelatedCounter >= maxRelated %}
                            {% break %}
                        {% endif %}
                        {% assign arrayExistingRelated = existingRelated | split: "|" %}
                        {% assign existingRelatedTitleCheck = singleTemplate.title | remove: " " %}
                        {% unless arrayExistingRelated contains existingRelatedTitleCheck %}
                            {% assign imageUrlPath = singleTemplate.url | split: '/' %}
                            <div class="w-full lg:w-1/3 xl:w-1/3 overflow-hidden mb-4 lg:mb-0 xl:mb-0 pr-2">
                                <div class="px-4 py-4 bg-white h-full border-2 rounded border-gray-400 hover:border-orange">
                                    <a class="no-underline" href="{{ site.baseurl }}{{ singleTemplate.url }}" data-lity>
                                        <img class="w-full lightbox-ignore" src="{{ site.baseurl }}/{{ imageUrlPath[1] }}/{{ singleTemplate.image }}" alt="{{ singleTemplate.title }}">
                                    </a>
                                    <a class="no-underline text-black" href="{{ site.baseurl }}{{ singleTemplate.url }}" data-lity>
                                        <div class="text-black mb-2">{{ singleTemplate.title | escape }}</div>
                                    </a>
                                </div>
                            </div>
                            {% assign existingRelated = existingRelated | append:singleTemplate.title | remove: " " | append:"|" %}
                            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                            {% if maxRelatedCounter >= maxRelated %}
                                {% break %}
                            {% endif %}
                        {% endunless %}
                    {% endif %}

                {% endfor %}
            {% endif %}

            {% assign minCommonCategories = 1 %}
            {% if maxRelatedCounter < maxRelated %}
                {% for singleTemplate in templatesSorted %}

                    {% assign sameCategoryCount = 0 %}
                    {% assign commonCategories = '' %}

                    {% for category in singleTemplate.category %}
                        {% if singleTemplate.url != page.url %}
                            {% if page.category contains category %}
                                {% if singleTemplate.isDraft != true and singleTemplate.lang == page.lang %}
                                    {% assign sameCategoryCount = sameCategoryCount | plus: 1 %}
                                    {% capture categorymarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
                                    {% assign commonCategories = commonCategories | append: categorymarkup | append:", " %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if sameCategoryCount >= minCommonCategories %}
                        {% if maxRelatedCounter >= maxRelated %}
                            {% break %}
                        {% endif %}
                        {% assign arrayExistingRelated = existingRelated | split: "|" %}
                        {% assign existingRelatedTitleCheck = singleTemplate.title | remove: " " %}
                        {% unless arrayExistingRelated contains existingRelatedTitleCheck %}
                            {% assign imageUrlPath = singleTemplate.url | split: '/' %}
                            <div class="w-full lg:w-1/3 xl:w-1/3 overflow-hidden mb-4 lg:mb-0 xl:mb-0 pr-2">
                                <div class="px-4 py-4 bg-white h-full border-2 rounded border-gray-400 hover:border-orange">
                                    <a class="no-underline" href="{{ site.baseurl }}{{ singleTemplate.url }}" data-lity>
                                        <img class="w-full lightbox-ignore" src="{{ site.baseurl }}/{{ imageUrlPath[1] }}/{{ singleTemplate.image }}" alt="{{ singleTemplate.title }}">
                                    </a>
                                    <a class="no-underline text-black" href="{{ site.baseurl }}{{ singleTemplate.url }}" data-lity>
                                        <div class="text-black mb-2">{{ singleTemplate.title | escape }}</div>
                                    </a>
                                </div>
                            </div>
                            {% assign existingRelated = existingRelated | append:singleTemplate.title | remove: " " | append:"|" %}
                            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                            {% if maxRelatedCounter >= maxRelated %}
                                {% break %}
                            {% endif %}
                        {% endunless %}
                    {% endif %}

                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% capture darkBackground %}{% if darkBackground == 'true' %}false{% else %}true{% endif %}{% endcapture %}
{% endif %}

{% capture cta-setting-dark-background %}{{darkBackground}}{% endcapture %}
{% capture cta-title %}{{ site.language[page.lang].cta-title }}{% endcapture %}
{% capture cta-subtitle %}{{ site.language[page.lang].cta-subtitle }}{% endcapture %}
{% capture cta-content %}{{ site.language[page.lang].cta-content }}{% endcapture %}
{% capture cta-link %}{{ site.language[page.lang].cta-link }}{% endcapture %}
{% capture cta-link-text %}{{ site.language[page.lang].cta-link-text }}{% endcapture %}
{% include cta.html %}
