---
layout: base
---

{% include page_header.html lang_selector="article" %}

<div class="max-w-2xl my-8 mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-5 gap-x-24 mx-4">
        <div class="sm:col-span-5 my-4 article-content">
            <a class="font-medium" onclick="history.back(-1)">< {{ site.language[page.lang].extensions-link-text-return-to-overview }}</a>
        </div>
        <div class="sm:col-span-2 article-content">
            <img class="lightbox-ignore cursor-default" src="{{ page.image }}" alt="Peakboard Extension: {{ page.title_text }}">
            {% if page.repository and page.download %}
                {% capture download_link %}{{ page.repository | replace_first: "tree", "raw" }}/Binary/{{ page.download }}{% endcapture %}
            {% elsif page.download_ext %}
                {% assign download_link = page.download_ext %}
            {% elsif page.download %}
                {% assign download_link = page.download %}
            {% endif %}
            <form action="{{ download_link }}">
                <input type="submit" value="{{site.language[page.lang].extensions-link-text-download}}" class="menu-cta-button block mx-auto my-12 py-3 px-10 tracking-base leading-none text-xl md:text-2xl cursor-pointer" />
            </form>
        </div>
        <div class="sm:col-span-3 my-4">
            <h1 class="text-3xl font-extrabold">{{ page.title_text }}</h1>
            <h2 class="text-2xl font-medium text-orange">by {{ page.by }}</h2>
            <div class="block w-full h-0 border-0.5 border-black my-4"></div>
            <div class="flex flex-row gap-x-4 mb-4">
            {% for item in page.extension_category %}
                {% if item != 'All' and item != "Alle" %}
                <div class="border border-gray-400 rounded-lg px-1 text-gray-400 text-sm">
                    <a href="{{ site.url }}{% if page.lang == 'en' %}/en/{% endif %}{% if page.lang == 'cn' %}/cn/{% endif %}?menu%5Bextension_category%5D={{ item | downcase }}&fromArticle=true">
                        {{ item }}
                    </a>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <p class="font-extrabold mt-8 mb-2">{{ site.language[page.lang].extensions-section-description }}</p>
            <div class="article-content mb-4">
            {% for item in page.description %}
                <p>{{ item }}</p>
            {% endfor %}
            </div>
            <p class="font-extrabold mt-8 mb-2">{{ site.language[page.lang].extensions-section-version-history }}</p>
            <div class="article-content">
            {% for item in page.version_history %}
                <p class="text-gray-400" style="margin: 0;">{{ item | split: "|" | first }}</p>
                <p class="">{{ item | split: "|" | last }}</p>
            {% endfor %}
            </div>
            {% if page.screenshots %}
                <p class="font-extrabold mt-8 mb-2">{{ site.language[page.lang].extensions-section-screenshots }}</p>
                <div class="grid grid-cols-2 gap-x-8 article-content">
                {% for item in page.screenshots %}
                    <div class="border border-gray-400 my-4">
                        <img src="{{ item }}" alt="Screenshot for Peakboard Extension: {{ page.title_text }}" style="margin: 0;">
                    </div>
                {% endfor %}
                </div>
            {% endif %}
            <div class="mt-6">
                <div>
                    <a target="_blank" href="{{ site.language[page.lang].extensions-link-how-to }}" class="inline-block my-2 border-b-2 border-orange font-semibold text-dark-black hover:text-orange focus:text-orange">
                        <span>{{ site.language[page.lang].extensions-link-text-how-to }} <i class="right-arrow"></i></span>
                    </a>
                </div>
                {% if page.repository %}
                    <div>
                        <a target="_blank" href="{{ page.repository }}" class="inline-block my-2 border-b-2 border-orange font-semibold text-dark-black hover:text-orange focus:text-orange">
                            <span>{{ site.language[page.lang].extensions-link-text-source-code }} <i class="right-arrow"></i></span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include cta.html lang=page.lang %}
