---
layout: base
---

{% include page_header.html lang_selector="home" %}

{% include home_hero_banner.html %}

<div class="max-w-3xl px-4 mx-auto my-12">
    <div class="flex flex-wrap mb-4">
        <div class="w-full lg:w-1/4 px-2">

        </div>
        <div class="w-full lg:w-3/4 px-2">
            <div class="flex flex-col mb-4">
                <h2 class="mx-auto font-extrabold text-4xl mb-2" id="header-templates">{{ site.language[page.lang].homepage-top-section-templates }}<span class="text-orange">.</span></h2>
                <h2 class="mx-auto font-extrabold text-4xl mb-2 hidden" id="header-extensions">{{ site.language[page.lang].homepage-top-section-extensions }}<span class="text-orange">.</span></h2>
                <div class="mx-auto" id="search-box">
                    <!-- SearchBox -->
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap mb-4">
        <div class="w-full lg:w-1/4 px-2">
            <div class="mb-2 uppercase text-grey-dark">
                {{ site.language[page.lang].homepage-menu-title-templates }}
            </div>
            <div id="templates">
                <!-- Templates -->
            </div>
            <div class="mt-6 mb-2 uppercase text-grey-dark">
                {{ site.language[page.lang].homepage-menu-title-extensions }}
            </div>
            <div id="extensions">
                <!-- Extensions -->
            </div>
            <div id="clear-refinements" class="hidden"></div>
        </div>
        <div class="w-full lg:w-3/4 px-2">
            <div id="hits-container" class="flex mb-4">
                <div id="hits" class="w-full">
                    <!-- Hits -->
                </div>
            </div>
            <div id="pagination">
                <!-- Pagination  -->
            </div>
        </div>
    </div>

    <!-- TEMPLATES -->
    {% raw %}
    <script type="text/html" id="hit-template">
        <div class="w-full">
            <a href="{{ url }}">
                <div>
                    <img alt="{{ title }}" data-src="{{ imageUrl }}" src="/assets/images/blank.png">
                    <p class="mt-3">{{ title }}</p>
                </div>
            </a>
        </div>
    </script>

    <script type="text/html" id="no-results-template">
        <div id="no-results-message">
            <p>{% endraw %}{{ site.language[page.lang].search-no-results }}{% raw %}.</p>
        </div>
    </script>
    {% endraw %}
    <!-- /TEMPLATES -->

    <!-- LANGUAGE -->
    <div id="search-box-text" class="invisible">{{ site.language[page.lang].search-bar-placeholder }}</div>
    <div id="language" class="invisible">{{ page.lang }}</div>
    <div id="visible-templates" class="invisible">{{ site.language[page.lang].homepage-visible-templates | join: "," }}</div>
    <div id="visible-extensions" class="invisible">{{ site.language[page.lang].homepage-visible-extensions | join: "," }}</div>
    <div id="all-templates" class="invisible">{{ site.language[page.lang].homepage-all-templates }}</div>
    <div id="all-extensions" class="invisible">{{ site.language[page.lang].homepage-all-extensions }}</div>
    <div id="featured-templates" class="invisible">{{ site.language[page.lang].homepage-featured-templates }}</div>
    <!-- /LANGUAGE -->

    <script src="{{ '/assets/search/search.js' | relative_url }}?{{ site.time | date: '%s%N' }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.33.0/dist/algoliasearchLite.min.js" integrity="sha256-3Laj91VXexjTlFLgL8+vvIq27laXdRmFIcO2miulgEs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.4.0/dist/instantsearch.production.min.js" integrity="sha256-pM0n88cBFRHpSn0N26ETsQdwpA7WAXJDvkHeCLh3ujI=" crossorigin="anonymous"></script>
</div>
